# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# OS files
.DS_Store
Thumbs.db

# Publish profiles
PublishScripts/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Coverage
*.coverage
*.coveragexml
